body {
  background: url(./pic/so-white.png), url(./pic/bg.png);
  background-blend-mode: multiply;
}

h1,
h2,
h3 {
  color: #1f363d;
}

/*
https://coolors.co/1f363d-40798c-70a9a1-9ec1a3-cfe0c3
*/

.content-index,
.content-bio,
.content-projects,
.content-purchasing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  padding-top: 3em;
}

/* ------------------------- */
.navbar-nav a:link,
.navbar-nav a:visited {
  color: #9ec1a3;
}
.navbar-nav a:hover {
  color: #cfe0c3;
}
/* ------------------------------- */

.feat-proj a:hover {
  color: lightcoral;
}
.feat-proj{
  padding-bottom: 2em;
}


.nav-item-bio {
  padding: 1em;
  text-align: right;
  /* float:left" */
}

a:link,
a:visited {
  color: #40798c;
}

a:hover {
  color: #70a9a1;
}

.content-purchasing img:hover,
.content-projects img:hover {
  opacity: 0.6;
}

.content-purchasing div {
  margin-bottom: 1em;
}
.grid-wide-column {
  grid-column: 2 / 4;
}


ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.bio-link {
  margin-left: 2em;
}
